### Recommendations with MovieTweetings: Getting to Know The Data

Throughout this lesson, you will be working with the [MovieTweetings Data](https://github.com/sidooms/MovieTweetings/tree/master/recsyschallenge2014).  To get started, you can read more about this project and the dataset from the [publication here](http://crowdrec2013.noahlab.com.hk/papers/crowdrec2013_Dooms.pdf).

**Note:** There are solutions to each of the notebooks available by hitting the orange jupyter logo in the top left of this notebook.  Additionally, you can watch me work through the solutions on the screencasts that follow each workbook. 

To get started, read in the libraries and the two datasets you will be using throughout the lesson using the code below.

In [89]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tests as t
from datetime import datetime

%matplotlib inline


# Read in the MovieTweetings dataset originally taken from https://github.com/sidooms/MovieTweetings/tree/master/latest
movies = pd.read_csv('movies.dat', delimiter='::', header=None, names=['movie_id', 'movie', 'genre'], dtype={'movie_id': object}, engine='python')
reviews = pd.read_csv('ratings.dat', delimiter='::', header=None, names=['user_id', 'movie_id', 'rating', 'timestamp'], dtype={'movie_id': object, 'user_id': object, 'timestamp': object}, engine='python')

#### 1. Take a Look At The Data 

Take a look at the data and use your findings to fill in the dictionary below with the correct responses to show your understanding of the data.

In [90]:
movies.head()

,movie_id,movie,genre
0,0000008,Edison Kinetoscopic Record of a Sneeze (1894),Documentary|Short
1,0000010,La sortie des usines Lumière (1895),Documentary|Short
2,0000012,The Arrival of a Train (1896),Documentary|Short
3,25,The Oxford and Cambridge University Boat Race ...,NaN
4,0000091,Le manoir du diable (1896),Short|Horror

In [91]:
reviews.head()

  user_id  movie_id  rating   timestamp
0       1   0114508       8  1381006850
1       2   0208092       5  1586466072
2       2   0358273       9  1579057827
3       2  10039344       5  1578603053
4       2   6751668       9  1578955697

In [92]:
# 'The number of movies in the dataset': 
nr_of_movies = movies['movie_id'].nunique()
nr_of_movies

35479

In [93]:
# 'The number of ratings in the dataset':
nr_of_reviews = len(reviews)
nr_of_reviews

863866

In [94]:
# number of different genres
genres = []
for val in movies.genre:
    try:
        genres.extend(val.split('|'))
    except AttributeError:
        pass

# we end up needing this later
genres = set(genres)
print("The number of genres is {}.".format(len(genres)))

The number of genres is 28.

In [95]:
# 'The number of unique users in the dataset':
nr_of_users = reviews['user_id'].nunique()
nr_of_users

67353

In [96]:
nr_missing_rating = sum(reviews['rating'] == 0)
nr_missing_rating

261

In [97]:
# 'The average rating given across all ratings':
avg_rating = np.mean(reviews['rating'])
avg_rating

7.315877693994207

In [98]:
# 'The minimum rating given across all ratings':
min_review_rating = min(reviews['rating'])
min_review_rating

0

In [99]:
# 'The maximum rating given across all ratings':
max_review_rating = max(reviews['rating'])
max_review_rating

10

In [100]:
# Use your findings to match each variable to the correct statement in the dictionary


dict_sol1 = {
'The number of movies in the dataset': nr_of_movies,
'The number of ratings in the dataset': nr_of_reviews,
'The number of different genres': nr_of_genres,
'The number of unique users in the dataset': nr_of_users,
'The number missing ratings in the reviews dataset': nr_missing_rating,
'The average rating given across all ratings': avg_rating,
'The minimum rating given across all ratings': min_review_rating,
'The maximum rating given across all ratings': max_review_rating
}

# Originally, I had this to check your solution, but the 
# links are live and updating.  That didn't end up being
# a great idea

#### 2. Data Cleaning

Next, we need to pull some additional relevant information out of the existing columns. 

For each of the datasets, there are a couple of cleaning steps we need to take care of:

#### Movies
* Pull the date from the title and create new column
* Dummy the date column with 1's and 0's for each century of a movie (1800's, 1900's, and 2000's)
* Dummy column the genre with 1's and 0's

#### Reviews
* Create a date out of time stamp

You can check your results against the header of my solution by running the cell below with the **show_clean_dataframes** function.

In [101]:
# pull date if it exists
create_date = lambda val: val[-5:-1] if val[-1] == ')' else np.nan

# apply the function to pull the date
movies['date'] = movies['movie'].apply(create_date)

years = ['1800', '1900', '2000']

for i in range(len(years)):
    movies[years[i]] = 0 

# apply year 2000 entries
create_20 = lambda val: 1 if int(val) >= 2000 else 0
movies['2000'] = movies['date'].apply(create_20)

# apply 1900
create_19 = lambda val: 1 if int(val) >= 1900 and int(val) < 2000 else 0
movies['1900'] = movies['date'].apply(create_19)

# apply 1800
create_18 = lambda val: 1 if int(val) >= 1800 and int(val) < 1900 else 0
movies['1800'] = movies['date'].apply(create_18)


movies

,movie_id,movie,genre,date,1800,1900,2000
0,0000008,Edison Kinetoscopic Record of a Sneeze (1894),Documentary|Short,1894,1,0,0
1,0000010,La sortie des usines Lumière (1895),Documentary|Short,1895,1,0,0
2,0000012,The Arrival of a Train (1896),Documentary|Short,1896,1,0,0
3,25,The Oxford and Cambridge University Boat Race ...,NaN,1895,1,0,0
4,0000091,Le manoir du diable (1896),Short|Horror,1896,1,0,0
...,...,...,...,...,...,...,...
35474,12036052,Elephant (2020),Documentary|Adventure|Biography|Family,2020,0,0,1
35475,12058882,Coachella: 20 Years in the Desert (2020),Documentary|Music,2020,0,0,1
35476,12078990,Money Heist: The Phenomenon (2020),Documentary,2020,0,0,1
35477,12131262,Out of Shadows (2020),Documentary,2020,0,0,1
35478,12192654,Planet of the Humans (2019),NaN,2019,0,0,1

In [102]:
# Function to split and return values for columns
def split_genres(val):
    try:
        if val.find(gene) >-1:
            return 1
        else:
            return 0
    except AttributeError:
        return 0

# Apply function for each genre
for gene in genres:        
    movies[gene] = movies['genre'].apply(split_genres)

In [103]:
movies.head()

,movie_id,movie,genre,date,1800,1900,2000,News,Film-Noir,Short,...,Music,Fantasy,Reality-TV,Animation,Game-Show,Sci-Fi,Family,Crime,Horror,Romance
0,0000008,Edison Kinetoscopic Record of a Sneeze (1894),Documentary|Short,1894,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0000010,La sortie des usines Lumière (1895),Documentary|Short,1895,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0000012,The Arrival of a Train (1896),Documentary|Short,1896,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,25,The Oxford and Cambridge University Boat Race ...,NaN,1895,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0000091,Le manoir du diable (1896),Short|Horror,1896,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0

In [104]:
movies.iloc[0]

movie_id                                             0000008
movie          Edison Kinetoscopic Record of a Sneeze (1894)
genre                                      Documentary|Short
date                                                    1894
1800                                                       1
1900                                                       0
2000                                                       0
News                                                       0
Film-Noir                                                  0
Short                                                      1
Drama                                                      0
Documentary                                                1
Mystery                                                    0
Adventure                                                  0
Comedy                                                     0
Talk-Show                                                  0
History                                                    0
Western                                                    0
Biography                                                  0
Thriller                                                   0
Adult                                                      0
Action                                                     0
Sport                                                      0
War                                                        0
Musical                                                    0
Music                                                      0
Fantasy                                                    0
Reality-TV                                                 0
Animation                                                  0
Game-Show                                                  0
Sci-Fi                                                     0
Family                                                     0
Crime                                                      0
Horror                                                     0
Romance                                                    0
Name: 0, dtype: object

In [105]:
reviews

       user_id  movie_id  rating   timestamp
0            1   0114508       8  1381006850
1            2   0208092       5  1586466072
2            2   0358273       9  1579057827
3            2  10039344       5  1578603053
4            2   6751668       9  1578955697
...        ...       ...     ...         ...
863861   67351   9071322       5  1580517448
863862   67351   9898858       3  1585958452
863863   67352   0172495      10  1587107015
863864   67352   0414387      10  1587107852
863865   67353   1623205       6  1362832655

[863866 rows x 4 columns]

In [106]:
import datetime

change_timestamp = lambda val: datetime.datetime.fromtimestamp(int(val)).strftime('%Y-%m-%d %H:%M:%S')

reviews['date'] = reviews['timestamp'].apply(change_timestamp)

In [ ]:
# now reviews and movies are the final dataframes with the necessary columns
reviews.to_csv('./reviews_clean.csv')
movies.to_csv('./movies_clean.csv')

In [85]:
reviews_new, movies_new = t.show_clean_dataframes()

AttributeError: module 'tests' has no attribute 'show_clean_dataframes'